<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <div class="nav">
          <a class="navbar-brand" href="{{url_for('home_page')}}">Home</a>
          <a class="nav-link active" aria-current="page" href="{{url_for('signUp_page')}}">Sign Up</a>
          <a class="nav-link active" aria-current="page" href="{{url_for('checkIn_page')}}">Check In</a>
          <a class="nav-link active" aria-current="page" href="{{url_for('user_listing')}}">User List</a>
          <a class="nav-link active" aria-current="page" href="{{url_for('checkIn_listing')}}">Check In List</a>
    </div>
  </div>
</nav>